.face {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    background-color: #F9E000;
    border-radius: 50%;
    top: 40px;
    z-index: 1;
}

.left-ear {
    width: 100px;
    height: 70px;
    background-color: #F9E000;
    margin-right: 50px;
    display: inline-block;
    border: 10px solid black;
    border-top-left-radius: 120px;
    border-top-right-radius: 60px;
    transform: rotate(-30deg);
}

.leftearcanal {
    position: absolute;
    left: 48px;
    top: 48px;
    width: 30px;
    height: 10px;
    background-color: white;
    margin-right: 50px;
    display: inline-block;
    border: 10px solid white;
    border-top-left-radius: 120px;
    border-top-right-radius: 60px;
    transform: rotate(-35deg);
}

.right-ear {
    position: absolute;
    left: 214px;
    width: 100px;
    height: 70px;
    background-color: #F9E000;
    display: inline-block;
    border: 10px solid black;
    border-top-left-radius: 60px;
    border-top-right-radius: 120px;
    transform: rotate(30deg);
}

.rightearcanal {
    position: absolute;
    left: 240px;
    top: 48px;
    width: 30px;
    height: 10px;
    background-color: white;
    margin-right: 50px;
    display: inline-block;
    border: 10px solid white;
    border-top-left-radius: 60px;
    border-top-right-radius: 120px;
    transform: rotate(35deg);
}

.mouse {
    position: absolute;
    width: 170px;
    height: 170px;
    border: 10px solid black;
    background-color: bisque;
    border-radius: 50%;
    top: 170px;
    left: 72px;
    z-index: 2;
}

.nose {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 10px solid black;
    background-color: black;
    border-radius: 50%;
    top: 174px;
    left: 130px;
    z-index: 3;
}

.lefteye {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 10px solid black;
    background-color: black;
    border-radius: 50%;
    top: 140px;
    left: 80px;
    z-index: 3;
}

.righteye {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 10px solid black;
    background-color: black;
    border-radius: 50%;
    top: 140px;
    left: 216px;
    z-index: 3;
}